<div class="container mt-4">
    <div class="card p-4 user-card">
        <h5>Name: {{userData.firstName}} {{userData.middelName}} {{userData.lastName}}</h5>
        <p><span><strong>Email: </strong>{{userData.emailId}}</span></p>
        <p><span><strong>Numner: </strong>{{userData.contactNumber}}</span></p>
        <p><span><strong>Age: </strong>{{userData.candidateAge}}</span></p>
        <p><span><strong>Gender: </strong>{{userData.gender}}</span></p>
        <p><span><strong>Job Location: </strong>{{userData.jobLocation}}</span></p>
        <p><span><strong>Skills: </strong>{{userData.skills}}</span></p>
    </div>
</div>